<!doctype html>
<html ng-app="app">
  <head>
    <title>ePlanner Extension</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" href="bower_components/fullcalendar/dist/fullcalendar.css"/>
  </head>

  <body>
    <!-- Main page that can be swapped with settings page -->
    <div id="MainPage">
      <!-- Top header bar -->
      <div class="container no-padding" id="topBar">
          <div class="row" id="header">
            <!-- Filter button -->
            <div class="pull-left"><i id="filterButton" class='fa fa-lg fa-filter'></i></div>
            <!-- Pop up filter menu -->
            <div class="container filterMenu">
              Filter Menu
            </div>
            <!-- Title of App -->
            <div id="appName">
              <strong class="noselect">ePlanner</strong>
            </div>
            <!-- Settings button -->
            <div class="pull-right"><i id="settingsButton" class='fa fa-lg fa-cog'></i></div>
          </div>
      </div>
      <!-- Tabs -->
      <div class="row tabs">
        <div class="col-xs-4 tab active noselect" id="ToDoTab">To-do</div>
        <div class="col-xs-4 tab noselect" id="CompletedTab">Completed</div>
        <div class="col-xs-4 tab noselect" id="CalendarTab">Calendar</div>
      </div>
      <!-- Main area that holds contents of different tabs -->
      <div class="main container no-padding">
        <!-- To do View -->
        <div id="ToDoView" ng-controller="todoCtrl">
          <div class="row">
              <div class="col-md-12">
                <div class="newCourse btn" ng-click="add()">
                    Add New Course
                </div>
              </div>
          </div>
          <div id="Container">
              <div id="CategoryOptionsOverlay">
                  <!-- Options for a category, will be handled by Javascipt -->
              </div>
              <div id="TodoOptionsOverlay">
                  <!-- Options for a category, will be handled by Javascipt -->
              </div>
              <div id="ITEMS">
                    <!-- To-do's will be added here by javascript -->
              </div>
          </div>
        </div>

        <!-- Completed View -->
        <div id="CompletedView" ng-controller="completed">
        
        </div>

        <!-- Calendar View-->
        <div id="CalendarView" ng-controller="calendar">
            <p ng-model="alertMessage">{{alertMessage}}</p>
            <div ui-calendar="uiConfig.calendar" class="span8 calendar"  ng-model="eventSources" calendar="calendar"></div>
            <div id="CalendarOverlay">
                <!-- Options for a category, will be handled by Javascipt -->
            </div>
        </div>

      </div>
    </div>

    <!-- Settings Page that can be swapped with Main Page -->
    <div id="SettingsPage">
      <!-- New top bar for settings -->
      <div class="container no-padding" id="topBar2">
          <div class="row" id="header">
            <div id="settingsName">
              <strong class="noselect">ePlanner Settings</strong>
            </div>
            <a class="pull-right" id="return"><i class="fa fa-lg fa-remove"></i></a>
          </div>
      </div>
      <!-- Main area for settings -->
      <div class="main container" ng-controller="setting">
        Color: <input class="jscolor" ng-model="colorCode" value="3498DB">
        <button ng-click="update()">Click to Update </button>
      </div>
    </div>
  </body>

  <footer>
    <script type="text/javascript" src="bower_components/moment/min/moment.min.js"></script>
    <script type="text/javascript" src="lib/js/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="lib/js/angular.js"></script>
    <script type="text/javascript" src="lib/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="lib/js/jscolor.min.js"></script>
    <script type="text/javascript" src="lib/js/jscolor.js"></script>
    <script type="text/javascript" src="todo/app.js"></script>
    <script type="text/javascript" src="todo/todoCtrl.js"></script>
    <script type="text/javascript" src="todo/todoStorage.js"></script>
    <script type="text/javascript" src="source.js"></script>
    <script type="text/javascript" src="bower_components/angular-ui-calendar/src/calendar.js"></script>
    <script type="text/javascript" src="bower_components/fullcalendar/dist/fullcalendar.min.js"></script>
    <script type="text/javascript" src="bower_components/fullcalendar/dist/gcal.js"></script>
  </footer>
</html>

