@import 'https://fonts.googleapis.com/css?family=Lato';
@import 'lib/css/bootstrap.min.css';
@import 'lib/css/font-awesome.min.css';

body {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  background-color: white;
  width: 520px;
  height: 600px;
  padding: 0;
  margin: 0;
}

#top-bar{
  text-align: center;
  font-size: 30px;
  height: 8%;
  width: 100%;
  background-color: #3498db;
  color: white;
  padding: 0;
  margin: 0;
}

#header{
  padding-top: 7px;
}

#filter{
  float: left;
  margin-left: 25px;
  color: black;
}

#filter:hover{
  cursor: pointer;
}

#settings{
  float: right;
  margin-right: 25px;
  color: black;
}

#settings:hover{
  cursor: pointer;
}

.container{
  width: 100%;
  padding: 20px;
}

.tabs{
  height: 6%;
  text-align: center;
  width: 100%;
  margin: 0;
}

.tab{
  float: left;
  padding-top: 1%;
  padding-bottom: 1%;
  border-style: solid;
  border-color: lightgray;
}

.tab:hover{
  cursor: pointer;
}

.tab:active, .active{
  background-color: #93c8ec;
}

#Main{
  width: 100%;
  height: 82%;
}

footer{
  background-color: #3498db;
  height: 4%;
  width: 100%;
  padding: 0;
  margin: 0;
}