@import 'https://fonts.googleapis.com/css?family=Lato';
@import 'lib/css/bootstrap.min.css';
@import 'lib/css/font-awesome.min.css';

body {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  background-color: white;
  width: 520px;
  height: 600px;
  padding: 0;
  margin: 0;
}
html{
  overflow: hidden;
}


#top-bar{
  text-align: center;
  font-size: 30px;
  height: 8%;
  width: 100%;
  background-color: #3498db;
  color: white;
  padding: 0;
  margin: 0;
}

#header{
  padding-top: 7px;
}

#appName{
  display: inline-block;
}

#filter{
  float: left;
  margin-left: 25px;
  color: white;
}

#filter:hover{
  cursor: pointer;
}

#settings{
  float: right;
  margin-right: 25px;
  color: white;
}

#settings:hover{
  cursor: pointer;
}

.container{
  width: 100%;
  padding:0px;
}

.tabs{
  height: 6%;
  text-align: center;
  width: 100%;
  margin: 0;
}

.tab{
  float: left;
  padding-top: 1%;
  padding-bottom: 1%;
  border-style: solid;
  border-color: lightgray;
}

.tab:hover{
  cursor: pointer;
}

.tab:active, .active{
  background-color: #93c8ec;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version */
}

#Main{
  width: 100%;
  height: 81.5%;
  overflow: none !important;
  margin-left: 0px;
}

::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

footer{
  position:fixed;
  background-color: #3498db;
  height: 4%;
  width: 100%;
  bottom:0px;
  padding: 0;
  margin: 0;
}

.todo-item .btn-remove-todo {
    display:none;
}

.todo-item:hover .btn-remove-todo {
    display: block;
}

.todo-item .todo-content {
    font-weight: bold;
}
.todo-item.completed .todo-content {
    color:darkgray;
    font-weight: normal;
    text-decoration: line-through;
}

#todo-list {
    
}

#btn-remove-all {
    margin-bottom: 10px;
}

#FIRST{
  overflow-y: auto;
  overflow-x: hidden;
  min-width: 100%;
  width: 100%;
  height: 450px;  
}
#SECOND{
  display:none;
}
#THIRD{
  display:none;
}

#SETTINGS{
  display:none;
}

#PRIMARY{
  overflow: hidden;
}

.TO-DO-TITLE{
  border-style: solid;
  padding-top:10px;
  margin:0px;
  padding-bottom:10px;
  background-color: orange;
}
.TITLE-TEXT{
  float:left;
  width:84%;
  max-width: 84%;
}
.TITLE-BUTTON:hover{
  cursor: pointer;
}

.SUB-TO_DO{
  margin: 0px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.SUB-SELECT{
  display: inline-block;
  max-width: 10%
  width:10%;
  padding-left:20px;
  padding-right:20px;
}
.SUB-NAME{
  display: inline-block;
  width:60%;
  max-width: 60%;
}
.SUB-DATE{
  display: inline-block;
  width:10%;
}
.SUB-OPTIONS{
  display: inline-block;
  padding-left:23px;
  width:10%;
}
.OPTIONS{ 
  display: inline-block;
  width:100%;
  padding-bottom:30px;
}
.SUB-OPTIONS:hover{
  cursor: pointer;
}

.row{
  margin: 0px;
}


hr{
  display: block;
  border-width: 2px;
  border-color: black;
  margin: 0px;
  padding: 0px;
}